<div class="aboutme-background">
    <div class="aboutme-text-overlay">
        <h1> About Me</h1>
        <h2>ワインの美味しさを広めたい！</h2>
        <p>様々な種類や産地があるワイン</p>
        <p>おしゃれなお店で飲むイメージで飲む機会もあんまりない</p>
        <p>でも、食事に合わせて飲んでみたら美味しそう！</p>
        <p>知っていたらかっこいいかも！</p>
        <br>
        <p>このサイトは、</p>
        <p>普段あまりワインを飲まない人へ</p>
        <p>ちょっとしたワインの知識や、自分好みのワインを知れるサイトです</p>
        <p>安くて美味しいワインを載せていきます</p>
    </div>
</div>