<div class="kihon-background">
    <div class="kihon-text-overlay">
        <h1>ワインの基本</h1>
    </div>
</div>
<div class="kihon">
    <div class="kihon1-block">
    <br><br>
    <h2>1.赤ワインと白ワインの違いって？</h2>
        <p>そもそも赤と白でどんな作り方の違いがあるの？</p>
        <p>―違いは原料と作り方の２つ!―</p>
        <br>
        <p> </p>
        <ul>
        <li>赤ワイン
        <br><%= image_tag 'wine1.jpg', size: '200x200' %>
        <p1><br>原料…黒ブドウ
        <br>作り方…ぶどうの皮や種を丸ごと発酵する</p1>
        </li>
        <li>白ワイン
        <br><%= image_tag 'grape1.jpg', size: '200x200' %>
        <p1><br>原料…白ぶどう
        <br>作り方…ぶどうの実をジュースにして発酵する</p1>
        <br>(皮や種を使わない)
        </li></ul>
        <br></ul>
    </div>
    <br>
    <div class="kihon2-block">
    <h2>2.どんな味があるの？</h2>
        <p>ワインのボディって？味の表現について</p>
        <p>―「ボディ」は重み、「辛口」などは糖度の表現―</p>
        <br>
        <ul>
        <li>・ワインの重みを表すボディ
        <br>重厚感のある「フルボディ」
        <br>中程度の「ミディアムボディ」
        <br>軽やかな「ライトボディ」
        </li>
        <br>
        <li>・ワインの糖度
        <br>ドライ(辛口)…糖度が低い
        <br>スイート(甘口)…糖度が高い
        <br>
        </li></ul>
        <br></ul>
    </div>
    <br>
    <div class="kihon3-block">
    <h2>3.どんな料理に合うの？</h2>
        <p>料理に合わせて飲むといいって言うけどどうやって合わせるの？</p>
        <p>―食材の色で選ぼう―</p>
        <p></p>
        <br>
        <p> </p>
        <ul>
        <li>赤ワイン
        <br><%= image_tag 'wine13.jpg', size: '300x300' %>
        <br>肉と合わせると良いが、
        <br>マグロなどの赤身魚にも合わせる場合も！
        </li>
        <li>白ワイン
        <br><%= image_tag 'wine12.jpg', size: '300x300' %>
        <br>魚と合わせると良いが
        <br>優しい味わいの鶏や豚と合わせる場合も！
        </li></ul>
        <br></ul>
    </div>
</div>