<div class="shindan-background">
    <div class="shindan-text-overlay">
        <h1> あなたの好みがわかる！</h1>
        <h2>~ワイン診断~</h2>
        <p>どんな料理に合わせたらいいのかわからない・・・。</p>
        <p>そんな方は必見！</p>
        <p>WEBからカンタンな質問に答えるだけで</p>
        <p>あなた好みのワインのタイプが無料で診断できます。</p>
        <p>さらに、診断結果には、</p>
        <p>コンビニやスーパーで気軽に買えるオススメワインも</p>
        <p>紹介中！</p>
        <p>この機会にワインデビュー、してみませんか？</p>
        <a><a href="shindans/new1" class="btn-border-bottom">診断する</a> 
    </div>
</div>