<html lang="ja">
<body>
  <!--  コンテンツを一旦仮置きする  -->
  <div class="first-block">
    <!--   First block Start   -->
    <section id="first-block">
    <div class="title-container">
    <h1>ワイン診断</h1>
    <h3>~ あなたの好みがわかる！ ~</h3>
    </div>
    <p class="info-text">
    普段ワインなんて飲まない・・・。
    <br>
    どんな料理に合わせたらいいのかわからない・・・。
    <br>
    そんな方は必見！
    <br>
    「ワイン診断」ならWEBからカンタンな質問に答えるだけで
    <br>
    今日のご飯に合ったワインのタイプが無料で診断できます。
    <br>
    また、コンビニやスーパーで気軽に買えるオススメワインも紹介しています。
    <br>
    この機会にワインデビュー、してみませんか？
    <br>
    <%= link_to "→今すぐワイン診断を始める", shindans_new1_path, class: "link" %>
    
    </p>
    </section>
    <!--   First block End   -->
  </div>
</body>
</html>