<div class="question">
  <h1>Q2</h1>
  <h2>料理の好みは？</h2>
    <ul>
      <li><a class="btn" href="#q_02" data-value="a">
        <%= link_to shindans_new3AA_path do %>
        <%= image_tag 'img3.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="new3AA" style="text-decoration:none;" >さっぱり</a>
        </div>
      </a></li>
      <li><a class="btn" href="#q_02" data-value="b">
        <%= link_to shindans_new3AB_path do %>
        <%= image_tag 'img4.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="new3AB" style="text-decoration:none;" >こってり</a>
        </div>
      </a></li>
    </ul>
</div>

<a><a href="new1" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> 戻る
</a>