<div class="question">
  <h1>Q3</h1>
  <h2>食べたいのは？</h2>
    <ul>
      <li><a class="btn" href="#q_02" data-value="a">
        <%= link_to shindans_show1_path do %>
        <%= image_tag 'plat2.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="show1" style="text-decoration:none;"牛肉のトマト煮" ></a>
        </div>
      </a></li>
      <li><a class="btn" href="#q_02" data-value="b">
        <%= link_to shindans_show2_path do %>
        <%= image_tag 'plat1.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="show2" style="text-decoration:none;"オイルソースのパスタ" ></a>
        </div>
      </a></li>     
    </ul>
</div>

<a href="new2A" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> 戻る
</a>