<div class="question">
  <h1>Q3</h1>
  <h2>食べたいのは？</h2>
    <ul>
      <li><a class="btn" href="#q_02" data-value="a">
        <%= link_to shindans_show5_path do %>
        <%= image_tag 'plat8.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="show5" style="text-decoration:none;"鮪など赤みのお刺身" ></a>
        </div>
      </a></li>
      <li><a class="btn" href="#q_02" data-value="b">
        <%= link_to shindans_show6_path do %>
        <%= image_tag 'plat9.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="show6" style="text-decoration:none;"魚の塩焼き" ></a>
        </div>
      </a></li>
    </ul>
</div>

<a href="new2B" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> 戻る
</a>