<div class="question">
  <h1>Q3</h1>
  <h2>食べたいのは？</h2>
    <ul>
      <li><a class="btn" href="#q_02" data-value="a">
        <%= link_to shindans_show3_path do %>
        <%= image_tag 'plat3.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="show3" style="text-decoration:none;">チーズたっぷりグラタン</a>
        </div>
      </a></li>
      <li><a class="btn" href="#q_02" data-value="b">
        <%= link_to shindans_show4_path do %>
        <%= image_tag 'plat5.jpg', size: '200x200' %>
        <% end %>
        <div class="linkbox">
          <a href="show4" style="text-decoration:none;">ガーリックステーキ</a>
        </div>
      </a></li>
    </ul>
</div>

<a href="new2A" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> 戻る
</a>