<div class="show">
  <h1> きりっとシャープ白ワイン</h1>
  <h2>ボートシェット ベイ マールボロ ソーヴィニヨン・ブラン(ニュージーランド)2,445円</h2>
  <h3> フレッシュな酸味が広がり、優しい甘み
  <br>
  カキフライや白身魚の天ぷらなど
  </h3>
  <br><%= image_tag 'vin7.jpg', size: '400x400' %>
</div>

<a href="top" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> トップページ
</a>