<div class="show">
  <div class="smallbox">
  <h1> 深い旨味赤ワイン</h1>
  <h2>ベンド・カベルネ・ソーヴィニョン（カリフォルニア）980円
  <br>
  </h2>
  <h3>
  豊かな果実味とリッチな風味
  <br>
  ダークチェリー・プラムの豊富な果実味
  </h3>
      <ul>
        <li><a class="btn" href="#q_02" data-value="a">
        <%= link_to shindans_path do %>
            <%= image_tag 'vin1.jpg', size: '400x400' %>
           <% end %>
            <p><%= link_to '', shindans_show7_path %></p>
            
          </a></li>        
      </ul>
</div>

<%= link_to 'トップページ', shindans_path %>