<div class="show">
  <h1> 深い旨味赤ワイン</h1>
  <h2>ベンド・カベルネ・ソーヴィニョン（カリフォルニア）980円
  <br></h2>
  <h3>豊かな果実味とリッチな風味
  <br>ダークチェリー・プラムの豊富な果実味
  </h3>
  <br><%= image_tag 'vin1-1.jpg', size: '400x400' %>
</div>


<a href="top" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> トップページ
</a>