<div class="show">
  <h1> まろやか濃厚赤ワイン</h1>
  <h2>オールド・ヴァイン・ジンファンデル（カリフォルニア）1,500円
  <br>
  </h2>
  <h3>
  カシスやダークベリーの果実味+ミントの香りやバニラやチョコレートの風味
  <br>
  焼肉などに合う！
  </h3>
  <br><%= image_tag 'vin8.jpg', size: '400x400' %>
</div>

<a href="top" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> トップページ
</a>