<div class="show">
  <h1> ソフト&フルーティ白ワイン</h1>
  <h2>ポジオ・ランゲ・シャルドネ（イタリア）1,000円</h2>
  <h3>
  アプリコットやマンゴーなどの南国のフルーツの甘酸っぱさ
  </h3>
  <br><%= image_tag 'vin2.jpg', size: '400x400' %>
</div>

<a href="top" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> トップページ
</a>