<div class="show">
  <h1> まろやか濃厚白ワイン</h1>
  <h2>ギネオ ヴェルメンティーノ(イタリア)1,800円</h2>
  <h3>
  洋梨や白桃の熟した甘みとほんのり塩気と苦味を感じるワイン
  </h3>
  <br><%= image_tag 'vin3-1.jog.jpg', size: '400x400' %>
</div>

<a href="top" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> トップページ
</a>