<div class="show">
  <h1> まろやか濃厚赤ワイン</h1>
  <h2>オールド・ヴァイン・ジンファンデル（カリフォルニア）1,500円
  <br>
  </h2>
  <h3>
  カシスやダークベリーの果実味+ミントの香りやバニラやチョコレートの風味
  <br>
  焼肉などに合う！
  </h3>
      <ul>
        <li><a class="btn" href="#q_02" data-value="a">
        <%= link_to shindans_path do %>
            <%= image_tag 'wine1.jpg', size: '400x400' %>
           <% end %>
            <p><%= link_to '', shindans_show7_path %></p>
            
          </a></li>        
      </ul>
</div>

<%= link_to 'トップページ', shindans_path %>