<div class="show">
  <h1> がっしり渋み赤ワイン</h1>
  <h2>ドメーヌ・ダンデソン・コート・デュ・ローヌ・ヴェエイユ・ヴィーニュ（フランス）1,600円2,000円
  <br>
  </h2>
  <h3>
  凝縮した果実味でスパイシー
  <br>
  ステーキに合う！
  </h3>
  <br><%= image_tag 'vin4.jpg', size: '400x400' %>
</div>

<a href="top" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> トップページ
</a>