<div class="show">
  <h1> コク辛口白ワイン</h1>
  <h2>ソミュール・ブラン(フランス)1,300円</h2>
  <h3> フレッシュな酸味が広がり、優しい甘み
  <br>
  キリッとした味わい！ホルモンにも合う！
  </h3>
  <br><%= image_tag 'vin6.jpg', size: '400x400' %>
</div>

<a href="top" class="btn-flat-simple">
  <i class="fa fa-caret-right"></i> トップページ
</a>