<div class="show">
  <h1> ソフト&フルーティ白ワイン</h1>
  <h2>ポジオ・ランゲ・シャルドネ（イタリア）1,000円</h2>
  <h3>
  アプリコットやマンゴーなどの南国のフルーツの甘酸っぱさ
  </h3>
      <ul>
        <li><a class="btn" href="#q_02" data-value="a">
        <%= link_to shindans_path do %>
            <%= image_tag 'vin2.jpg', size: '400x400' %>
           <% end %>
            <p><%= link_to '', shindans_show7_path %></p>
            
          </a></li>        
      </ul>
</div>

<%= link_to 'トップページ', shindans_path %>