<div class="maintop">
  <div class="maintop-img"></div>
</div>


<div class="blank1">
</div>


<div class="abouttop">
  <a href="<%= shindans_index1_path %>" class="background-link1">
    <div class="text-overlay1">
      <h1>About Me</h1>
    </div>
  </a>
</div>

<div class="winetop-block">
  <a href="<%= shindans_index3_path %>" class="background-link2">
    <div class="text-overlay2">
      <h1>ワインの基本</h1>
    </div>
  </a>
</div>

<div class="firsttop-block">
  <a href="<%= shindans_path %>" class="background-link3">
    <div class="text-overlay3">
      <h1>ワイン診断</h1>
    </div>
  </a>
</div> 

<div class="secondtop-block">
  <a href="<%= shindans_index2_path %>" class="background-link4">
    <div class="text-overlay4">
      <h1>おすすめワイン</h1>
    </div>
  </a>
</div>